:root {
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family-family: 'Raleway', sans-serif;
  --background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

body {
  font-family: var(--main-font-family);
  color: 434455;
  background-color: var(--background-color);
}

.logo {
  font-family: var(--secondary-font-family-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-span {
  color: #2e2f42;
}
